go 1.25.0

use (
	.

	./examples/custom-plugin
	./examples/datadog-shipping
	./examples/http-server
	./examples/multi-transport
	./examples/otel-end-to-end
	./examples/pretty-modes

	./integrations/loghttp
	./integrations/sloghandler

	./plugins/datadogtrace
	./plugins/datadogtrace/livetest
	./plugins/fmtlog
	./plugins/oteltrace
	./plugins/plugintest
	./plugins/redact
	./plugins/sampling

	./transports/axiom
	./transports/betterstack
	./transports/blank
	./transports/central
	./transports/charmlog
	./transports/cli
	./transports/console
	./transports/datadog
	./transports/gcplogging
	./transports/http
	./transports/logrus
	./transports/lumberjack
	./transports/newrelic
	./transports/otellog
	./transports/phuslu
	./transports/pretty
	./transports/sentry
	./transports/slog
	./transports/structured
	./transports/testing
	./transports/zap
	./transports/zerolog
)
