go 1.25.0

use (
	.

	./transports/blank
	./transports/central
	./transports/charmlog
	./transports/console
	./transports/datadog
	./transports/lumberjack
	./transports/http
	./transports/logrus
	./transports/otellog
	./transports/phuslu
	./transports/pretty
	./transports/slog
	./transports/structured
	./transports/testing
	./transports/zap
	./transports/zerolog

	./plugins/datadogtrace
	./plugins/datadogtrace/livetest
	./plugins/fmtlog
	./plugins/oteltrace
	./plugins/plugintest
	./plugins/redact
	./plugins/sampling

	./integrations/loghttp
	./integrations/sloghandler

	./examples/custom-plugin
	./examples/datadog-shipping
	./examples/http-server
	./examples/multi-transport
	./examples/otel-end-to-end
)
